@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik One';
    src: url('/static/fonts/RubikOne-Regular.ttf');
}

body {
  font-family: 'Rubik One';
}

body, button, h1, h2, h3 {
    font-family: 'Rubik One';
    color: white
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}